.loginLogo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

body {
    background-color: #3d3d3d;
}

.errortext #errormessage {
    text-align: center;
    color: whitesmoke; font-family: "Quicksand", arial, sans-serif;
    font-size: 14px; 
    visibility: hidden;
}

.loginLogo img {
    margin-top: 75px;
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
}

.form {
    display: flex;
    justify-content: center;

}

.button {
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    border: 3px solid teal;
    background-color: #3d3d3d;color: whitesmoke;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: medium;
    font-family: "Quicksand", arial, sans-serif;
    font-size: 14px; 
    box-shadow: -2px 6px 16px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 6px 16px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 16px -3px rgba(0,0,0,0.75);
}
input {
    border: none;
    display: flex;
    width: 290px;
    padding-left: 10px;
    background-color: aliceblue;
    height: 25px;
    border-radius: 3px;
    font-weight: lighter;
      font-family: "Quicksand", arial, sans-serif;
      font-size: 14px;
      box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.84);
      -webkit-box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.84);
      -moz-box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.84);
}
