body {
    font-family: "Quicksand", Arial, sans-serif;
   background-color: #d6d6d6;


}

.options {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.options2 {
    display: flex;
    flex-direction: row;
}

.clickableimages img{
    display: flex;
}

.linkimages {
    display: flex;
    width: 100px; background-color: #929292;

    box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.84);
    -webkit-box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.84);
    -moz-box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.84);
    height: 100px;
    padding: 30px;
}

.userForm {
    display: flex;
    justify-content: center;
    margin-left: auto;
    
}

.editCon h2,a{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
  }
  
  a{
      text-decoration: none;
      color: teal;
      margin-top: 25px;
  }
  
  label {
      margin-top: 30px;
  }

  .redirects {
      display: flex;
      flex-direction: column;
      
  }

  .redirects h2 {
      font-size: 16px;
      margin: auto;
      padding-top: 20px;
  }

  input {
    border: 1px solid grey;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
    font-weight: 300px;
    font-size: 12px;
    margin-top: 10px;
    font-family: "Quicksand", Arial, sans-serif;
  }
  #user_level {
      width: 100px;border: 1px solid grey;
      height: 25px;
      margin: auto;
      border-radius: 5px;
      box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
      font-weight: 300px;
      font-size: 12px;
      
      font-family: "Quicksand", Arial, sans-serif;
  }

  button {
    width: 100px;
    border: 1px solid grey;
    height: 25px;
    margin-left: 75px;
    margin-top: 40px;

    border-radius: 5px;
    box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
  }

  .DeleteContent {
      display: flex;
      flex-direction: column;
  }

.DeleteContent h2,a {
    margin: auto;
    margin-top: 40px;
}

.table {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 40px;

justify-content: space-between;
}

th {
    padding-left: 10px;
}

td {
    padding-left: 15px;
}

  button {
      border: 3px solid teal;
      box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 12px 33px -2px rgba(0, 0, 0, 0.22);
      font-weight: 300px;
      font-size: 12px;
      height: 30px;
      font-family: "Quicksand", Arial, sans-serif;

  }

  .options2 {
      display: flex;
      flex-direction: row;
  }
