.footerNav {
    width: 100%;
    height: 80px;
    color: black;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.Copyright {
    margin-top: 25px;
    margin-right: 60px;
}

.socialMedia {
    margin-top: 25px;
    margin-left: 60px;
}