header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Quicksand', Arial, sans-serif;
    margin-top: 40px;
}

#nav {
   
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
     margin-right: 15px;
     color: black;
  }

  .logo {
      margin-right: 200px;
  }